[Desktop Entry]
Name=KdeWaita
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Email=adolfo@librepixels.com
X-KDE-PluginInfo-Website=https://store.kde.org/p/2271791/
X-KDE-PluginInfo-License=aGPLv3
X-KDE-PluginInfo-Name=KdeWaita
X-KDE-PluginInfo-Version=1.2.4
